@import "./mixinis";
@mixin fotter {
  .fotter {
    @include box(auto, 100%, #0a0119);
    color: white;

    > .navbar {
      @include Flex(space-around, center, null, wrap);

      > img {
        margin-top: 40px;
      }
      .prabha {
        margin-top: 40px;
        display: flex;
        gap: 20px;
      }
    }
    .contant {
      display: grid;
      grid-template-columns: 350px 90px 120px 200px;
      margin-top: 100px;
      justify-content: center;
      gap: 100px;
      margin: 0px, auto;
      overflow: hidden;

      @include breakpoint(1000px) {
        grid-template-columns: 200px 100px 100px 250px;
        gap: 50px;
      }
      @include breakpoint(950px) {
        grid-template-columns: 200px 100px 100px;
        gap: 50px;
      }
      @include breakpoint(550px) {
        grid-template-columns: 200px;
        gap: 50px;
        margin-right: 50px;
        justify-content: flex-start;
        margin-left: 20px;
      }

      .words {
        font-size: 17px;
        font-weight: 100;
        line-height: 20px;
        word-spacing: 2px;
        margin-top: 10px;
        @include breakpoint(550px) {
          width: 400px;
        }
      }
      .words1 {
        width: 400px;
      }
      input[type="text"] {
        background-color: transparent;
        // border: none;
        border: 1px solid gray;
        padding: 10px;
        width: 200px;
        color: white;
        margin-top: 20px;
        @include breakpoint(950px) {
          width: 400px;
          height: 50px;
        }
      }
    }
  }
}
.fotterdown {
  @include Flex(center, center, null, wrap);
  @include box(100px, 100%, #0a0119);
  h6 {
    color: white;
    font-weight: 100;
    font-size: 17px;
    > span {
      color: #1234cd;
    }
  }
}
