@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "./mixinis";
@import "./CoverImage.scss";
@import "./coverimagepage2";
@import "./coverimagepage3";
@import "./coverimagepage4";
@import "./coverimagepage5";
@import "./fotter";
@import "./coverimagegrid";

* {
  padding: 0%;
  margin: 0%;
  font-family: "Poppins", sans-serif;
}
body {
  @include Full();
  @include Section1();
  @include coverimage3();
  @include coverpage4();
  @include coverpage5();
  @include fotter();
  @include coverimagegrid();
}
// .section2 {
//   height: 600px;
//   width: 100%;
//   background-color: aqua;

//   .box1 {
//     height: 600px;
//     width: 100%;
//     background-color: rgba(197, 18, 18, 0.668);
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     align-items: center;

//     .boxs1 {
//       height: 50%;
//       width: 300px;
//       background-color: black;
//       transform: rotate(40deg);
//     }
//     .boxs2 {
//       height: 50%;
//       width: 300px;
//       background-color: rgb(66, 51, 153);
//       transform: rotate(40deg);
//     }
//     .boxs3 {
//       height: 50%;
//       width: 300px;
//       background-color: rgb(51, 153, 53);
//       transform: rotate(40deg);
//     }
//     .boxs4 {
//       height: 50%;
//       width: 300px;
//       background-color: rebeccapurple;
//       transform: rotate(40deg);
//     }
//   }
// }
// .fotter {
//   height: 75%;
//   width: 100%;
//   background-color: #0a0119;
//   color: white;
//   // display: flex;
//   // display: flex;

//   > .navbar {
//     display: flex;
//     align-items: center;
//     justify-content: space-around;
//     > img {
//       margin-top: 40px;
//     }
//     .prabha {
//       margin-top: 40px;
//       display: flex;
//       gap: 20px;
//     }
//   }
//   .contant {
//     display: grid;

//     grid-template-columns: 235px 100px 100px 250px;
//     margin-top: 100px;
//     justify-content: center;
//     gap: 100px;
//     .words {
//       font-size: 12px;
//       font-weight: 100;
//       line-height: 20px;
//       word-spacing: 2px;
//       margin-top: 10px;
//     }
//     input[type="text"] {
//       background-color: transparent;
//       // border: none;
//       border: 1px solid gray;
//       padding: 10px;
//       width: 200px;
//       color: white;
//       margin-top: 20px;
//     }
//   }
// }
